[submodule "seed-emulator"]
	path = seed-emulator
	url = https://github.com/seed-labs/seed-emulator.git
[submodule "scion-apps"]
	path = scion-apps
	url = https://github.com/fgolshan/scion-apps.git
[submodule "scionproto"]
	path = scionproto
	url = https://github.com/fgolshan/scion.git
	branch = polaris-patch
